            <a class="btn btn-secondary round btn-min-width mr-1 mb-1" href="{{ "{{ path('" ~ route_name_prefix ~ "_index') }}" }}">Regresar</a>
        {%- if ('edit' in actions) and (not hide_edit) %}
            <a class="btn btn-info round btn-min-width mr-1 mb-1" href="{{ "{{ path('" ~ route_name_prefix ~ "_edit', { 'id': " ~ entity_singularized ~ "."~ identifier ~" }) }}" }}">Editar</a>
        {%- endif %}
        {%- if ('delete' in actions) and (not hide_delete) %}
            {{ '{{ form_start(delete_form) }}' }}
            <button type="submit" class="btn btn-danger round btn-min-width mr-1 mb-1">Borrar</button>
            {{ '{{ form_end(delete_form) }}' }}
        {%- endif %}
