{% block extends %}
    {{ "{% extends '@Admin/layout.html.twig' %}" }}
{% endblock extends %}

{{ "{% block stylesheets %}" }}
    {{ "{{ parent() }}" }}

{{ "{% endblock %}" }}

{{ "{% block javascripts %}" }}
    {{ "{{ parent() }}" }}

{{ "{% endblock %}" }}

{% block body %}
    {{ "{% block body %}" }}

    <section id="description-list-alignment">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Ver Registro
                            <small class="text-muted">{{ entity }}</small>
                        </h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="card-text">
                                {%- for field, metadata in fields %}
                                    <dl class="row">
                                        <dt class="col-sm-3 text-right">{{ field|capitalize }}</dt>
                                        <dd class="col-sm-9">{%- if metadata.type in ['datetime'] %}
                                                {{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d H:i:s\') }}{% endif %}' }}
                                            {%- elseif metadata.type in ['date'] %}
                                                {{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'Y-m-d\') }}{% endif %}' }}
                                            {%- elseif metadata.type in ['time'] %}
                                                {{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|date(\'H:i:s\') }}{% endif %}' }}
                                            {%- elseif metadata.type in ['array'] %}
                                                {{ '{% if ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' %}{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|join(\', \') }}{% endif %}' }}
                                            {%- elseif metadata.type in ['boolean'] %}
                                                {{'{{ '~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ '|sino }}' }}
                                            {%- else %}
                                                {{ '{{ ' ~ entity_singularized ~ '.' ~ field|replace({'_': ''}) ~ ' }}' }}
                                            {%- endif %}
                                        </dd>
                                    </dl>
                                {%- endfor %}
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        {% set hide_edit, hide_delete = false, true %}
                                        {{ include('crud/views/others/footerform_actions.html.twig.twig') -}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{ "{% endblock %}" }}
{% endblock body %}
