    {% extends '@Admin/layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('admin/plugins/icheck/vendors.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('admin/plugins/icheck/app.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('admin/plugins/icheck/icheck.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('admin/plugins/icheck/custom.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('admin/plugins/icheck/checkboxes-radios.css') }}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/plugins/icheck/icheck.min.js') }}"></script>
    <script src="{{ asset('admin/plugins/icheck/checkbox-radio.js') }}"></script>
{% endblock %}

{% block body %}

    <section id="description-list-alignment">
        <div class="row">
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Nuevo Registro
                            <small class="text-muted">Administradores</small>
                        </h4>
                        <a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
                        <div class="heading-elements">
                            <ul class="list-inline mb-0">
                                <li><a data-action="expand"><i class="ft-maximize"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="card-text">
                                {% form_theme form '@Admin/form/ci_bootstrap_3_horizontal_layout.html.twig' %}
                                {{ form_start(form) }}
                                {{ form_widget(form) }}
                                <div class="form-group m-b-0">
                                    <div class="col-sm-12">
                                                                                            <a class="btn btn-secondary round btn-min-width mr-1 mb-1" href="{{ path('administradores_index') }}">Regresar</a><button type="submit" class="btn btn-success round btn-min-width mr-1 mb-1" >Guardar</button>
                                    </div>
                                </div>
                                {{ form_end(form) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
